<% provide(:title, "Home") %>

<style media="screen">

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
  .landing-text{
    width: 95%;
  }

  .landing-top{
    width: 100%;
  }

  .container-content{
    width: 100%;
  }
}

@media screen and (min-width: 300px) {
  #triangle-image{width: 200px}
  #square-image{width: 200px}
  #hexagon-image{width: 200px}
}

</style>
<!--

}
  @media screen and (min-width: 300px) {
    #about-image{width: 500px}
  }

</style> -->

<!--  Top intro page -->
<div class="landing-top">
  <div class="va-container">
    <div class="va-middle text-center">
      	<div class="row">
      		<h1 style="color:white"><strong>HEXAGONFAB</strong></h1>
      	</div>
        <div class="row">
  		    <h3 style="color:white"> <%=t('home.subtitle')%></h3>
  		  </div>
	   </div>
	</div>
</div>

<!-- Spacer -->
<div style="height:1em"></div>

<div class="container">
  <!--  Middle Text Section -->
  <div class="landing-text text-justify">
    <br>
    <h2 class="text-center">Our Mission</h2>
    <%=image_tag("triangle.png", id:'triangle-image', class: 'img-responsive center-block')%>
      <h3><small>
      <%=t('home.landing-mission')%>
      </small></h3>
    <br>
  </div>

  <!--  Middle Text Section -->
  <div class="landing-text text-why">
      <br>
      <h2 class="text-center">What Drives Us</h2>
      <%=image_tag("hexagon.png", id:'hexagon-image', class: 'img-responsive center-block')%>
        <h3><small>
        <%=t('home.landing-why')%>
      </small></h3>
      <br>
  </div>


  <!--  Middle Text Section -->
  <div class="landing-text text-justify">
      <br>
      <h2 class="text-center">What We Do</h2>
      <%=image_tag("square.png", id:'square-image', class: 'img-responsive center-block')%>
        <h3><small>
        <%=t('home.landing-doing')%>
      </small></h3>
      <br>
      <div class="center">
        <%= link_to t('product.product'), product_path, class: "btn btn-primary" %>
      </div>
      <br>
  </div>

</div>
<!-- Spacer -->
<div style="height:1em"></div>

<!-- <div class="container">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
      	<div class="panel panel-default preview">
      		<div class="panel-heading preview">
      			<%= link_to image_tag("CuTile_R1_v2_250X_01_edit.jpg", class: 'panel-heading preview'), product_path%>
      		</div>
          <div class="panel-body text-center">
            Get to know our product
      		</div>
      	</div>
      </div>

      <div class="col-md-5">
      	<div class="panel panel-default preview">
      		<div class="panel-heading preview">
      			<%= link_to image_tag("hBNPtFo_280917B_5.jpg", class: 'panel-heading preview'), product_path%>
      		</div>
      		<div class="panel-body text-center">
            Meet the team
      		</div>
      	</div>
      </div>
    </div>
</div> -->
