<% provide(:title, "Home") %>

<style media="screen">

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
  .landing-text{
    width: 95%;
  }

  .landing-top{
    width: 100%;
  }

  .container-content{
    width: 100%;
  }
}
</style>

<!--  Top intro page -->
<div class="landing-top">
  <div class="va-container">
    <div class="va-middle text-center">
      	<div class="row">
      		<h1 style="color:white"><strong>HexagonFab</strong> <%=t('home.title')%> </h1>
      	</div>
        <div class="row">
  		    <h3 style="color:white"> <%=t('home.subtitle')%></h3>
  		  </div>
	   </div>
	</div>
</div>

<!-- Spacer -->
<div style="height:1em"></div>

<!--  Middle Text Section -->
<div class="landing-text text-justify">
    <br>
      <h3><small>
      <%=t('home.landing-text')%>
      <b><%=t('home.soon')%></b>
    </small></h3>
    <br>
</div>

<!-- Spacer -->
<div style="height:1em"></div>

<!-- <div class="container">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
      	<div class="panel panel-default preview">
      		<div class="panel-heading preview">
      			<%= link_to image_tag("CuTile_R1_v2_250X_01_edit.jpg", class: 'panel-heading preview'), product_path%>
      		</div>
          <div class="panel-body text-center">
            Get to know our product
      		</div>
      	</div>
      </div>

      <div class="col-md-5">
      	<div class="panel panel-default preview">
      		<div class="panel-heading preview">
      			<%= link_to image_tag("hBNPtFo_280917B_5.jpg", class: 'panel-heading preview'), product_path%>
      		</div>
      		<div class="panel-body text-center">
            Meet the team
      		</div>
      	</div>
      </div>
    </div>
</div> -->
