<% provide(:title, "News") %>


<style media="screen">
/* Create two equal columns that floats next to each other */
.row{
  display:table-row;
}

.column {
    float: left;
    padding: 20px;
    /* margin: 10px; */
}

.left{
  width: 40%;
}

.right{
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.col-lg-4, .col-lg-8 {
  float:none;
  display:inline-block;
  vertical-align:middle;
  margin-right:-4px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
      width: 100%;
  }

  .text-item{
    width: 90%;
    margin: auto;
  }
}

@media screen and (min-width: 300px) {
  #news-image{width: 250px}
}

</style>

<div class="text-item">
  <h1>News</h1>
</div>

<div class="text-item">
  <div class="list-item-top">
    <div class="row">
      <!-- Image Column of the Card  -->
      <div class="column left">
          <%=image_tag("CuTile_R1_v2_250X_01_edit.jpg", id: 'news-image', class: 'img-responsive center-block')%>
      </div>

      <div class="column right">
        <p>
        <b><%=t('product.graphene-title')%></b>
        </p>
        <p style="text-align:justify">
          <%=t('product.graphene-text')%>
        </p>
      <div class="center">
        <%= link_to t('product.findmore'), product_path, class: "btn btn-primary" %>
      </div></div>
    </div>
  </div>
</div>

<div class="text-item">
  <div class="list-item-top">
    <div class="row">
      <!-- Image Column of the Card  -->
      <div class="column left">
          <%=image_tag("CuTile_R1_v2_250X_01_edit.jpg", id: 'news-image', class: 'img-responsive center-block')%>
      </div>

      <div class="column right">
        <p>
        <b><%=t('product.graphene-title')%></b>
        </p>
        <p style="text-align:justify">
          <%=t('product.graphene-text')%>
        </p>
      <div class="center">
        <%= link_to t('product.findmore'), product_path, class: "btn btn-primary" %>
      </div></div>
    </div>
  </div>
</div>

<br><br>
