<% provide(:title, "Product") %>

<style media="screen">

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
  .column {
      width: 100%;
  }
  .text-item{
    width: 90%;
    margin: auto;
  }

}

</style>

<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<div class="container">
  <div class="text-item">
    <h1>Product</h1>

    <div class="row">

      <!-- 1st card  -->
      <div class="column left">
        <div class="card-item">
        <table>
          <tr> <td class="card-table-cell"> <h3> <%=t('product.graphene-title')%></b> </h3> </td></tr>
          <tr><td class="card-table-space"></td></tr>
          <tr>
            <td class="card-table-cell"><%=image_tag("CuTile_R1_v2_250X_01_edit.jpg", class: 'img-responsive')%></td>
          </tr>
          <tr><td class="card-table-space"></td></tr>
          <tr>
            <td class="card-table-cell">
              <p style="text-align:justify">
                <%=t('product.graphene-text')%>
              </p>
              <!-- <div class="center">
                <%= link_to t('product.findmore'), product_path, class: "btn btn-primary" %>
              </div> -->
            </td>
          </tr>
        </table>
        </div>
      </div>

      <!-- 2nd card  -->
      <div class="column right">
        <div class="card-item">
        <table>
          <tr> <td class="card-table-cell"> <h3> <%=t('product.hBN-title')%></b> </h3> </td></tr>
          <tr><td class="card-table-space"></td></tr>
          <tr>
            <td class="card-table-cell"><%=image_tag("CuTile_R1_v2_250X_01_edit.jpg", class: 'img-responsive center-block')%></td>
          </tr>
          <tr><td class="card-table-space"></td></tr>
          <tr>
            <td class="card-table-cell">
              <p style="text-align:justify">
                <%=t('product.hBN-text')%>
              </p>
              <!-- <div class="center">
                <%= link_to t('product.findmore'), product_path, class: "btn btn-primary" %>
              </div> -->
            </td>
          </tr>
        </table>
        </div>
      </div>

      <!-- 3rd card  -->
      <div class="column left">
        <div class="card-item">
        <table>
          <tr> <td class="card-table-cell"> <h3> <%=t('product.hetero-title')%></b> </h3> </td></tr>
          <tr><td class="card-table-space"></td></tr>
          <tr>
            <td class="card-table-cell"><%=image_tag("CuTile_R1_v2_250X_01_edit.jpg", class: 'img-responsive center-block')%></td>
          </tr>
          <tr><td class="card-table-space"></td></tr>
          <tr>
            <td class="card-table-cell">
              <p style="text-align:justify">
                <%=t('product.hetero-text')%>
              </p>
              <!-- <div class="center">
                <%= link_to t('product.findmore'), product_path, class: "btn btn-primary" %>
              </div> -->
            </td>
          </tr>
        </table>
        </div>
      </div>

      <!-- 4th card  -->
      <div class="column right">
        <div class="card-item">
        <table>
          <tr> <td class="card-table-cell"> <h3> <%=t('product.consultancy-title')%></b> </h3> </td></tr>
          <tr><td class="card-table-space"></td></tr>
          <tr>
            <td class="card-table-cell"><%=image_tag("CuTile_R1_v2_250X_01_edit.jpg", class: 'img-responsive center-block')%></td>
          </tr>
          <tr><td class="card-table-space"></td></tr>
          <tr>
            <td class="card-table-cell">
              <p style="text-align:justify">
                <%=t('product.consultancy-text')%>
              </p>
              <!-- <div class="center">
                <%= link_to t('product.findmore'), product_path, class: "btn btn-primary" %>
              </div> -->
            </td>
          </tr>
        </table>
        </div>
      </div>

    </div>

  </div>

</div>
