<style media="screen">
  body{
    background-color: green;
  }
</style>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    This is a test page <br>
    The locale is:
    <%= locale %>
    <%= t('language') %>

    <%= form_tag(test_path, method: "get") do %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:q) %>
        <%= text_field_tag :locale, locale, class: 'hidden' %>
        <%= submit_tag("Search") %>
    <% end %>
  </div>

<br>
<%= Time.now.strftime(t('date.date.formats.long'))%>
<br>
<%= t('date.datetime.prompts.day')%>
<br>
<%= '01.01.1990'%>
<br><br>
<%= form_tag(test_path, method: "get") do %>
    <%= label_tag(:decision, "Send?") %>
    <%= text_field_tag(:decision) %>
    <%= submit_tag("Send") %>
<% end %>
<%= @request%>

<ul class="dropdown-menu">
       <li><%= link_to "English", locale: 'en', class: "btn navbar-btn" %></li>
       <li><%= link_to "中文", locale: 'cn', class: "btn navbar-btn" %></li>
</ul>

<br>

<br>

<%= link_to t('Contact'), new_contact_path%>

<%= link_to "Home", root_path, class: "btn btn-lg btn-primary" %>

<script type="text/javascript">
  document.write($(window).height());   // returns height of browser viewport
  $(document).height(); // returns height of HTML document (same as pageHeight in screenshot)
  document.write($(window).width());   // returns width of browser viewport
  $(document).width();
</script>


<div class="text-item">
  <h1> <%=t('product.product')%> </h1>
</div>

<div class='text-item'>
  <div class='card-item'>
    <div class="row">
      <div class="col-lg-4">
          <%=image_tag("CuTile_R1_v2_250X_01_edit.jpg", class:"img-responsive center-block")%>
      </div>
      <div class="col-lg-8">
        <p>
        <b><%=t('product.graphene-title')%></b>
        </p>
        <p style="text-align:justify">
          <%=t('product.graphene-text')%>
        </p>
      <div class="center">
        <%= link_to t('product.findmore'), product_path, class: "btn btn-primary" %>
      </div></div>
      </div>
    </div>
  </div>
</div>

<br><br>
