<nav class="navbar navbar-inverse navbar-fixed-top ">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">HexagonFab</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>


    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="<%= root_path %>">Home</a></li>
        <li><a href="<%= product_path %>">Product</a></li>
        <li><a href="<%= news_path %>">News</a></li>
        <li><a href="<%= about_path %>">About Us</a></li> -->
        <li class="navbar-btn"><%= link_to t('navbar.home'), root_path, class: "navbar-hidden" %></li>
        <li class="navbar-btn"><%= link_to t('navbar.products'), product_path, class: "navbar-hidden" %></li>
        <li class="navbar-btn"><%= link_to t('navbar.contact'), new_contact_path, class: "navbar-default" %></li>
      </ul>
    </div>
  </div>
</nav>
